{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Shop Pages || design using HTML || CSS || Javascript</title>
    <style>
      .header{
        min-height: 0;
      }
      .nav-center .nav-link a {
        color: #222;
      }
      .navigation .nav-center .logo{
        color: #222;
      }
      .cross-icon {
        color: #222;
      }
      .icon a {
        color: #222;
      }
      .icon {
        color: #222;
      }
      .hamburger {
        color: #222;
      }
    </style>
  </head>
  <body>
    <!-- Header  -->
    <header class="header" id="header">
      <!-- top nav  -->
      <div class="top-nav">
        <div class="container d-flex">
          <p>Help or Customer support call us (001) 2321 6321</p>
          <ul class="d-flex">
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Faq</a></li>
          </ul>
        </div>
      </div>

      <!-- Navigation  -->
      <div class="navigation">
        <div class="nav-center container d-flex">
          <a href="../index.html" class="logo"><h2>E-COM</h2></a>
          <ul class="nav-link d-flex">
            <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a href="{% url 'category' %}">Collections</a></li>            
            <li class="nav-item"><a href="./shop.html">Shop</a></li>
            <li class="nav-item"><a href="./about.html">Our Brand</a></li>
            <li class="nav-item"><a href="./contact.html">Pages</a></li>

            <!-- Mobile icons  -->

            <div class="cross-icon">
              <i class='bx bx-x'></i>
            </div>
            <li class="icons d-flex">
              <a href="./pages/login.html" class="icon"><i class="bx bx-user"></i></a>
              <div class="icon">
                  <a href="javascript:void(0)"><i class="bx bx-search"></i></a>
                </div>
                <div class="icon">
                  <a href="./pages/wishlist.html"><i class="bx bx-heart"></i></a>
                  <span class="d-flex">0</span>
                </div>
                <div class="icon">
                  <a href="./pages/cart.html"><i class="bx bx-cart"></i></a>
                  <span class="d-flex">0</span>
                </div>
            </li>
          </ul>

          <!-- Right side icons for desktop  -->
          <div class="icons d-flex">
            <div class="hide-nav d-flex">
              <a href="./pages/login.html" class="icon"><i class="bx bx-user"></i></a>
              <div class="icon">
                  <a href="javascript:void(0)"><i class="bx bx-search"></i></a>
                </div>
                <div class="icon">
                  <a href="./pages/wishlist.html"><i class="bx bx-heart"></i></a>
                  <span class="d-flex">0</span>
                </div>
                <div class="icon">
                  <a href="./pages/cart.html"><i class="bx bx-cart"></i></a>
                  <span class="d-flex">0</span>
                </div>
            </div>
              <!-- Humbarger -->

              <div class="hamburger">
                <!-- <i class="bx bx-menu-alt-left"></i> -->
                <i class='bx bx-menu'></i>
              </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Top promotion seciton  -->

    <section class="promo" style="background-image: url('../images/woman.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed; background-color: green;">
      <div class="promo-text container">
        <span>Up to <span class="color">70%</span> sales off</span>
        <h1>Flash sales is going on</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Tenetur doloremque, <br> explicabo aperiam, quis quasi accusantium deleniti</p>
      </div>
    </section>

    <!-- Collection top part  -->
    <section class="section new-arrival">
      <div class="top-text">
        <div class="left-text">
          <h4>All Collections</h4>
        </div>
        <div class="right-sort">
          <div class="search-box">
            <input type="search" id="" placeholder="Type your keyword here...">
            <button type="submit">Search</button>
          </div>
        </div>
      </div>
      
      <!-- collection list -->
      <div class="products-container">
        <div class="collections container">
          {% for category in categories %}
          <div class="collection">
            <img class="scale" src="{{category.image.url}}" alt="">
              <a href="{{ category.get_absolute_url }}">
                <div class="collection-info">
                  <h1 class="after">{{ category.name }}</h1>
                </div>
              </a>
          </div>          
          {% endfor %}
        </div>
      </div>
    </section>
    
  </body>
  <script src="../js/index.js"></script>
</html>
